{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{super()}}
    {% endblock %}
    <meta charset="utf-8">
</head>
<body>
    {% block body %}
    {{super()}}
    <div class="container">
        <h1>Галерея</h1>

        <div class="gallery">
            <button class="arrow" style="position: absolute; left: 20px; z-index: 100;" onclick="scrollGallery(-1)">‹</button>

            <div class="gallery-track" id="galleryTrack">
              <img src="{{ url_for('static', filename=slides[-1]) }}" class="gallery-item active">
              {% for s in range(slides|length -1) %}
                <img src="{{ url_for('static', filename=slides[s]) }}" class="gallery-item">
              {% endfor %}
            </div>

            <button class="arrow" style="position: absolute; right: 20px; z-index: 100;" onclick="scrollGallery(1)">›</button>
        </div>

        <script>
            let currentIndex = 0;

            function scrollGallery(direction) {
                const items = document.querySelectorAll('.gallery-item');
                currentIndex = (currentIndex + direction + items.length) % items.length;

                items.forEach((img, i) => {
                    img.classList.toggle('active', i === currentIndex);
                });

                const offset = (currentIndex - 1) * 216; // 200px + 16px gap
                document.getElementById('galleryTrack').style.transform = `translateX(-${offset}px)`;
            }
        </script>
    </div>
    {% endblock body %}
</body>
</html>
