{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {{super()}}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {{super()}}
      <div class="container">
        {% for e in events %}
          <div class="eventDesc">
            <p><span style="font-size: 1.5rem; font-weight: bolder">{{e.name}}</span> <span style="color: grey">{{e.date}}</span></p>
            {% if maxlen > 0 and e.description|length > maxlen %}
            <p>{{e.description[:maxlen]}}...</p>
            {% else %}
            <p>{{e.description}}</p>
            {% endif %}
            <form method="post">
              <input type="hidden" value="{{e.id}}" name="id">
              <input type="submit" value="Подать заявку на мероприятие">
            </form>
            <hr>
          </div>
        {% endfor %}
      </div>
    {% endblock body %}
  </body>
</html>
