{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {{super()}}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {{super()}}
      <div class="container">
        <form method="post" class="login">

          <p class="title">Регистрация</p>

          <div>

          <p>ФИО</p>
          <input type="text" required name="name" required>

          <p>Ваше имя пользователя в телеграмм (необязательно)</p>
          <input type="text" required name="telegram">

          <p>Ваш номер телефона</p>
          <input type="text" name="phone" required>

          <p>Ваша дата рождения</p>
          <input type="date" name="birth" required>

          {% if eventID %}
            <input type="hidden" name="eventID" required>
          {% else %}
            <p>Выберите мероприятие</p>
            <select name="eventID">
              <option value="None">Выберите мероприятие</option>
              {% for e in events %}
                <option value="{{e.id}}">{{e.name}}</option>
              {% endfor %}
            </select>
          {% endif %}

          <br>
          <input type="submit" value="Подать заявку">

          </div>

        </form>
      </div>
    {% endblock body %}
  </body>
</html>
